﻿@model NBRHC.Models.Job
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Job Information</h2>

<form method="POST" action="/Job/Edit/@Model.JobID">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.JobID)
    @Html.HiddenFor(model => model.AdminID)

    <div class="form-group">
        <label class="inplabel">Job Title </label>
        <input type="text" value="@Model.JobTitle" class="form-control" id="JobTitle" name="JobTitle" />
    </div>

    <div class="form-group">
        <label class="inplabel">Job Description</label>
        <input type="text" value="@Model.JobDescription" class="form-control" id="JobDescription" name="JobDescription" />
    </div>



    <div class="form-group">
        <label class="inplabel">Department</label>
        <input type="text" value="@Model.Department" class="form-control" id="Department" name="Department" />
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>


</form>


