﻿@model IEnumerable<NBRHC.Models.Job>
@{
    ViewData["Title"] = "List";
}

<!--h2>List of available jobs</h2-->
<div id="jobBanner" class="banner flex-container">
    <h2 class="bannerTitle wrapper">List of available jobs</h2>
</div>

@if ((int)ViewData["UserState"] == 1)
{
    //Has user account but no admin account
    @Html.ActionLink("Create an Admin", "Create", "Admin")
}
else if ((int)ViewData["UserState"] > 1)
{
    //Has user account and admin account
    @Html.ActionLink("Add a New Job", "New")
}
@*<div class="recadd">
    @Html.ActionLink("Add new job information", "New", "Job")
</div>*@
<div class="reccontainer" style="overflow:hidden;">

    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "List",
        "Job",
        new { pagenum= ((int)ViewData["pagenum"]-1)}
        )
    |
    @Html.ActionLink("Next",
        "List",
        "Job",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
    @foreach (var job in Model)
    {
        <div class="rec">

            <div class="jumbotron">
                @*<label>@Html.ActionLink(job.JobTitle, "Show/" + job.JobID)</label>*@
                <p>Job Title  :@job.JobTitle</p>
                <p>Job description :@job.JobDescription</p>
                <p>Department :@job.Department</p>

                <div class="recadd">
                    @if ((int)ViewData["UserState"] != 2)
                    {
                    <button type="button" class="btn btn-warning">@Html.ActionLink("Apply Now", "New", "Employee")</button>
                    }
                      
                </div>

                @if (job.AdminID == (int)ViewData["UserAdminID"])
                {
                    @Html.ActionLink("Edit", "Edit", new { id = job.JobID })
                    @Html.Raw(" | ")
                }
                @*@Html.ActionLink("Details", "Details", new { id = jon.JobID })*@
                @if (job.AdminID == (int)ViewData["UserAdminID"])
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = job.JobID })
                }
            </div>
            <div class="clearfix"></div>
        </div>

    }

</div>

