﻿@model NBRHC.Models.Job
@{
    ViewData["Title"] = "New";
}

<h2>New Job Information</h2>

<form method="POST" action="/Job/New">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" name="AdminID" value="@ViewData["UserAdminID"]" />
    <input type="hidden" name="Admin" value="@ViewData["UserAdmin"]" />

    <div class="form-group">
        <label class="inplabel">Job Title </label>
        <input id="JobTitle_New" class="form-control" name="JobTitle_New" />
    </div>
    <div class="form-group">
        <label class="inplabel">Job Description</label>
        <input id="JobDescription_New" class="form-control" name="JobDescription_New" />
    </div>
    <div class="form-group">
        <label class="inplabel">Department</label>
        <input id="Department_New" class="form-control" name="Department_New" />
    </div>

    <div class="inprow">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>


