﻿@model NBRHC.Models.Job
@{
    ViewData["Title"] = "Show";
}


<div class="jumbotron">
    <h2>Job Title:: @Model.JobTitle </h2>

    <p>Department :@Model.Department</p>
    <p>Job description :@Model.JobDescription</p>

    <div>
        @Html.ActionLink("Edit", "Edit/" + Model.JobID)
    </div>

    <div>
        @Html.ActionLink("Delete", "Delete/" + Model.JobID)
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "List", "Job")
</div>
