﻿@model NBRHC.Models.Donor

<head>
    <link href="donationstyle.css" rel="stylesheet" type="text/css">
</head>

<div class="crud-nav">
    <div>
        @Html.ActionLink("BACK TO LIST", "list", "Donor")
    </div>
    <div>
        @Html.ActionLink("BACK TO SHOW", "Show", "Donor")
    </div>
</div>

<form method="post" action="/Donor/Edit/@Model.DonorId">
    <h1>Editing donor: @Model.firstName @Model.lastName</h1>

    <div>
        <label>First name:</label>
        <input type="text" name="firstname" value="@Model.firstName">
    </div>
    <div>
        <label>Last name:</label>
        <input type="text" name="lastname" value="@Model.lastName">
    </div>
    <div>
        <label>Home phone:</label>
        <input type="text" name="homephone" value="@Model.homePhoneNo">
    </div>
    <div>
        <label>Cell phone:</label>
        <input type="text" name="cellphone" value="@Model.cellPhoneNo">
    </div>
    <div>
        <label>Address:</label>
        <input type="text" name="address" value="@Model.address">
    </div>
    <div>
        <input type="submit" name="submitbtn" value="OK">
    </div>
</form>