﻿@model IEnumerable<NBRHC.Models.Donor>

@{
    ViewData["Title"] = "Donors";
}

<div id="debug">
    @ViewData["UserState"]
</div>

<head>
    <link href="donationstyle.css" rel="stylesheet" type="text/css">
</head>

<div class="crud-nav">
    <div style="font-size:24pt;">
        @{
            switch (ViewData["UserState"])
            {
                case "Guest": @Html.ActionLink("SIGN UP!", "List", "DonationGoal");
                    break;
                case "User": @Html.ActionLink("ADD NEW", "New", "Donor");
                    break;
                case "Admin": @Html.ActionLink("ADD NEW", "New", "Donation");
                    break;
            }
        }

    </div>
<div style = "font-size:24pt;" >
    @Html.ActionLink("TO DONATIONS", "list", "donation")
</div>
<div style="font-size:24pt;">
    @Html.ActionLink("TO DONATION GOALS", "list", "donationgoal")
</div>
</div>

@ViewData["PaginationSummary"]

@Html.ActionLink("<- Prev", "List", "Donor",
new { PageNum = ((int) ViewData["Pagenum"] - 1) })
@Html.ActionLink("Next ->", "List", "Donor",
new { pagenum = ((int) ViewData["Pagenum"] + 1) })

@foreach(var donor in @Model)
{
<div style = "background-color:lightgrey;" >

     <h4>@donor.firstName @donor.lastName</h4>
        @Html.ActionLink("View Donor", "Show", "Donor", new { id = donor.DonorId })
</div >
}
@ViewData["PaginationSummary"]

@Html.ActionLink("<- Prev", "List", "Donor",
new { PageNum = ((int) ViewData["Pagenum"] - 1) })
@Html.ActionLink("<- Prev", "List", "Donor",
new { pagenum = ((int) ViewData["Pagenum"] + 1) })
