﻿@model NBRHC.Models.Donor

@{
    ViewData["Title"] = "AddDonor";
}

<head>
    <link href="donationstyle.css" rel="stylesheet" type="text/css">
</head>

<div class="crud-nav">
    <div style="font-size:24pt;">
        @Html.ActionLink("BACK TO LIST", "list", "Donor")
    </div>
</div>

<form method="post" action="/Donor/Create">
    <h1>New Donor</h1>

    <!--Inputs needed: First name, last name, address,
        cell phone number (not required),
        home phone number (not required)-->
    <div>
        <label>First name:</label>
        <input type="text" name="formfirstname">
    </div>
    <div>
        <label>Last name:</label>
        <input type="text" name="formlastname">
    </div>
    <div>
        <label>Address:</label>
        <input type="text" name="formaddress">
    </div>
    <div>
        <label>Home phone:</label>
        <input type="text" name="formhomephone">
    </div>
    <div>
        <label>Cell phone:</label>
        <input type="text" name="formcellphone">
    </div>
    <div>
        <input type="submit" name="formsubmitbtn" value="OK">
    </div>
</form>
