﻿@model NBRHC.Models.Donor

<head>
    <link href="donationstyle.css" rel="stylesheet" type="text/css">
</head>

<div id="debug">
    <!--ViewData["UserState"]-->
</div>

<div class="crud-nav">
    <!--Put navigation links here-->
    @Html.ActionLink("BACK TO LIST", "list", "donor")
</div>

<h1>Show donor: @Model.firstName @Model.lastName</h1>

<p><span style="font-weight:bold;">First name:</span> @Model.firstName</p>
<p><span style="font-weight:bold;">Last name:</span> @Model.lastName</p>
<p><span style="font-weight:bold;">Donor ID:</span> @Model.DonorId</p>
<p><span style="font-weight:bold;">Address:</span> @Model.address</p>
<p><span style="font-weight:bold;">Cell phone:</span> @Model.cellPhoneNo</p>
<p><span style="font-weight:bold;">Home phone:</span> @Model.homePhoneNo</p>

@{ 
    switch (ViewData["UserState"])
    {
        case "Guest": break;
        case "User": @Html.ActionLink("EDIT", "Edit", "Donor", new { id = Model.DonorId });
            @Html.ActionLink("DELETE", "Delete", "Donor", new { id = Model.DonorId });
            break;
        case "Admin": @Html.ActionLink("EDIT", "Edit", "Donor", new { id = Model.DonorId });
            @Html.ActionLink("DELETE", "Delete", "Donor", new { id = Model.DonorId });
            break;
    }
}