﻿@model NBRHC.Models.Gallery

@{
    ViewData["Title"] = "Image Details";
}
@if (TempData["EditSuccess"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <strong>Image succeessfully edited</strong>
    </div>
}
else if (TempData["EditFail"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Failed to edit image</strong>
        <div>File type must be: jpeg, jpg, png or gif</div>
    </div>
}

<div class="container">
    <h1>Image Details</h1>
    <hr />
    <h3><u>Image alternative text:</u></h3>
    <h3>@Model.ImageAlt</h3>
    <h3><u>Image file name:</u></h3>
    <h3>@Model.ImageName</h3>
    <img src="~/images/gallery/@Model.ImageName.@Model.ImageType" class="imagePreview" />
    <form method="get" action="/Gallery/Edit/@Model.ImageID" class="form-group">
        <button type="submit" class="btn btn-primary">Edit Image</button>
    </form>
    <div>
        @Html.ActionLink("Back to Dashboard", "Index")
    </div>
</div>
