﻿@model NBRHC.Models.Gallery

@{
    ViewBag.Title = "Edit Image";
}

<div class="container">
    <h1>Edit Image</h1>
    @*Begin our form*@
    @using (Html.BeginForm("Edit", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ImageID)
    <div class="form-group">
        <hr />
        @*Image name*@
        <h2>@Model.ImageAlt</h2>
        <h4>@Model.ImageName</h4>
        <img src="~/images/gallery/@Model.ImageName.@Model.ImageType" class="imagePreview"/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Choose a file:</label>
            <input type="file" name="galleryimg" id="galleryimg" />
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageAlt, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.ImageAlt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ImageAlt, "", new { @class = "text-danger" })
        </div>
        @*Submit button*@
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
    }
    <div>
        @Html.ActionLink("Back to Dashboard", "Index")
    </div>
</div>