﻿@model IEnumerable<NBRHC.Models.Gallery>

@{
    ViewData["Title"] = "Gallery Dashboard";
}
<head>

</head>
@if ((int)ViewData["UserState"] == 2)
{
    if (TempData["AddSuccess"] != null)
    {
        <div class="alert alert-success text-center" role="alert">
            <strong>Image successfully added</strong>
        </div>
    }
    else if (TempData["AddFail"] != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            <strong>Failed to add image</strong>
            <div>File type must be: jpeg, jpg, png or gif</div>
        </div>
    }
    else if (TempData["EditSuccess"] != null)
    {
        <div class="alert alert-success text-center" role="alert">
            <strong>Image succeessfully edited</strong>
        </div>
    }
    else if (TempData["EditFail"] != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            <strong>Failed to edit image</strong>
            <div>File type must be: jpeg, jpg, png or gif</div>
        </div>
    }
    else if (TempData["DeleteSuccess"] != null)
    {
        <div class="alert alert-success text-center" role="alert">
            <strong>Image succeessfully deleted</strong>
        </div>
    }
}
<div class="container">
    <h1>Gallery Dashboard</h1>
    <hr />
    @*If the user is not an admin they have to be an admin*@
    @if ((int)ViewData["UserState"] == 1)
    {
        <!-- Users that do not have an admin account must create an admin account in order to see Edit/Details/Delete -->
        <form method="get" action="/Admin/Create">
            <button type="submit" class="btn btn-primary">Create an Admin</button>
        </form>
    }
    @*If the user is not an admin they are not allowed to add to the gallery but they can see it*@
    else if ((int)ViewData["UserState"] == 0)
    {
        <div class="slideshow-container">
            @foreach (var item in Model)
            {
                <div class="mySlides fade">
                    <img src="~/images/gallery/@Html.DisplayFor(modelItem=> item.ImageName).@Html.DisplayFor(modelItem=> item.ImageType)" class="galleryImages" alt="@Html.DisplayFor(modelItem=>item.ImageAlt)" />
                </div>
            }
        </div>
    }
    @*If they are an admin they get full control over the application*@
    else if ((int)ViewData["UserState"] == 2)
    {
        //Add Button
        <form method="get" action="/Gallery/New">
            <button type="submit" class="btn btn-primary">Add Image</button>
        </form>
        <br />
        <br />
        //Gallery
        <div class="slideshow-container">
            @foreach (var item in Model)
            {
                <div class="mySlides fade">
                    <img src="~/images/gallery/@Html.DisplayFor(modelItem=> item.ImageName).@Html.DisplayFor(modelItem=> item.ImageType)" class="galleryImages" alt="@Html.DisplayFor(modelItem=>item.ImageAlt)" />
                </div>
            }
        </div>
        //Pagination
        <div id="paginationSummary">
            @ViewData["PaginationSummary"]
        </div>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">@Html.ActionLink("Prev", "List", "Gallery", new { pagenum = ((int)ViewData["pagenum"] - 1) })</li>
                    <li class="page-item">@Html.ActionLink("Next", "List", "Gallery", new { pagenum = ((int)ViewData["pagenum"] + 1) })</li>
                </ul>
            </nav>
        </div>
        //Control
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Alt
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageAlt)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ImageID })
                            @Html.Raw(" | ")
                            @Html.ActionLink("Details", "Details", new { id = item.ImageID })
                            @Html.Raw(" | ")
                            @Html.ActionLink("Delete", "Delete", new { id = item.ImageID }, new { onclick = "return confirm('Are you sure you wish to delete this image?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

