﻿@model NBRHC.Models.Gallery

@{
    ViewBag.Title = "Add Image";
}

@Html.ValidationSummary()


<div class="container">
    <h1>Upload Image</h1>

    @*Begin Form*@
    @using (Html.BeginForm("New", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label>Choose an image:</label>
                <input type="file" name="galleryimg" id="galleryimg" />
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ImageAlt, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.ImageAlt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageAlt, "", new { @class = "text-danger" })
            </div>
            @*Submit Button*@
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    }

    <div>
        @Html.ActionLink("Back to Dashboard", "Index")
    </div>
</div>