﻿@model NBRHC.Models.ViewModels.DonationEdit


<h2>Edit</h2>
@{
    ViewData["Title"] = "Edit";
}
<head>
    <link href="donationstyle.css" rel="stylesheet" type="text/css">
</head>

<div class="crud-nav">
    <div>
        @Html.ActionLink("BACK TO LIST", "list", "donation")
    </div>
    <div>
        @Html.ActionLink("BACK TO SHOW", "show", "donation")
    </div>
</div>

<form method="post" action="/Donation/Edit/@Model.Donation.DonationId">
    <label for="amount">Amount:</label>
    <input type="text" name="amount" value="@Model.Donation.Amount" />
    <label for="date">Date:</label>
    <input type="text" name="date" value="@Model.Donation.Date" />
    <div>
        <label>Donation Goal:</label>
        <!--Christine bitbucket code-->
        <select name="donationgoalid">
            @{
                string attr = "";
            }
            @foreach (var donationgoal in Model.DonationGoals)
            {
                attr = "false";
                if (donationgoal.DonationGoalId == Model.Donation.DonationGoalID) { attr = "true"; }
                <option value="@(donationgoal.DonationGoalId)" selected="@(attr)">goal of @(donationgoal.Goal) from @(donationgoal.StartDate) until @(donationgoal.EndDate)</option>

            }
        </select>
    </div>
    <!--Add the donor and a submit button-->
    <div>
        <label>Donor:</label>

        <select name="donorid">
            @foreach (var donor in Model.Donors)
            {
                <option value="@(donor.DonorId)">@(donor.firstName) @(donor.lastName)</option>
            }
        </select>
    </div>
    <input type="submit" name="formsubmit" value="OK">
</form>
