﻿@model IEnumerable<NBRHC.Models.Donation>

@{
    ViewData["Title"] = "Donations";
}



<div class="crud-nav">
    <div style="font-size:20pt;">
        <div id="debug">
            <!--ViewData["UserState"]-->
        </div>
        <!--Just using a switch statement like in the example because it's
            convenient, I could also do if/else statements like I usually do...-->
        @{
            

            switch (ViewData["UserState"])
            {
                case "Guest": @Html.ActionLink("SIGN UP!", "List", "Donation"); break;
                case "User": @Html.ActionLink("ADD NEW", "New", "Donation"); break;
                case "Admin": @Html.ActionLink("ADD NEW", "New", "Donation"); break;
            }
        }

    </div>

    <div style="font-size:20pt;">
        @Html.ActionLink("TO DONORS", "list", "donor")
    </div>

    <div style="font-size:20pt;">
        @Html.ActionLink("TO DONATION GOALS", "list", "donationgoal")
    </div>
</div>

<div id="donations">
    <div id="pagination-top">
        @ViewData["PaginationSummary"]
        @Html.ActionLink("<- Prev", "List", "Donation",
        new { pagenum = ((int)ViewData["pagenum"]-1)})

        @Html.ActionLink("Next ->", "List", "Donation",
        new { pagenum = ((int)ViewData["pagenum"] + 1) })
    </div>
    @foreach (var donation in @Model)
    {
        <div class="donation" style="background-color:lightgrey;">
            <h4>
                $@donation.Amount
                <span class="donation__donor">from @donation.Donor.firstName @donation.Donor.lastName</span>
                <span class="donation__date">on @donation.Date</span>

            </h4>
            <p>
                Towards the goal for $@donation.DonationGoal.Goal
                from @donation.DonationGoal.StartDate until @donation.DonationGoal.EndDate
            </p>
            @Html.ActionLink("View Donation", "Show", "Donation", new { id = donation.DonationId })
        </div>
    }
    <div id="pagination-bottom">
        @ViewData["PaginationSummary"]

        @Html.ActionLink("<- Prev", "List", "Blog",
        new { pagenum = ((int)ViewData["pagenum"]-1)})

        @Html.ActionLink("Next ->", "List", "Blog",
        new { pagenum = ((int)ViewData["pagenum"] + 1) })
    </div>
</div>