﻿@model NBRHC.Models.ViewModels.DonationAdd

@{
    ViewData["Title"] = "New Donation";
}

<head>
    <link href="donationstyle.css" rel="stylesheet" type="text/css">
</head>
<div class="crud-nav">
    <div style="font-size:24pt;">
        @Html.ActionLink("BACK TO LIST", "list", "donation")
    </div>
</div>
<form method="post" action="/Donation/Create">
    <h1 class="new-donation">New Donation</h1>
    <!--Fields for donation form:
        Amount
        Donor ddl (Needs view model)-->
    <div>
        <label for="form-amt">Amount:</label>
        <input type="text" name="formamt">
    </div>
    <div>
        <label>Donor:</label>
        <select name="donorid">
            @foreach (var donor in @Model.donors)
            {
                <option value="@(donor.DonorId)">@(donor.firstName) @(donor.lastName)</option>
            }
        </select>
    </div>
    <div>
        <label>Donation goal:</label>
        <select name="donationgoalid">
            @foreach(var donationgoal in Model.donationgoals)
            {
                <option value="@(donationgoal.DonationGoalId)">@(donationgoal.StartDate) @(donationgoal.EndDate)</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="OK">
    </div>
</form>