﻿@model NBRHC.Models.Donation

<head>
    <link href="donationstyle.css" rel="stylesheet" type="text/css">
</head>

<div id="debug">
    @ViewData["UserState"]
</div>

<div class="crud-nav">
    <!--Put navigation action links here-->
    @Html.ActionLink("BACK TO LIST", "list", "donation")
</div>


<h1>Show Donation</h1>

<p><span style="font-weight:bold;">Date:</span> @Model.Date</p>
<p><span style="font-weight:bold;">Amount:</span> $@Model.Amount</p>
<p>
    <span style="font-weight:bold;">Donation goal:</span>
    $@Model.DonationGoal.Goal from @Model.DonationGoal.StartDate until @Model.DonationGoal.EndDate
</p>
<p><span style="font-weight:bold;">Donor name:</span> @Model.Donor.firstName @Model.Donor.lastName</p>

<div>
@{
    switch (ViewData["UserState"])
    {
        case "Guest": break;
        case "User": @Html.ActionLink("EDIT", "Edit", "Donation", new { id = Model.DonationId });
            @Html.ActionLink("DELETE", "Delete", "Donation", new { id = Model.DonationId });
            break;
        case "Admin": @Html.ActionLink("EDIT", "Edit", "Donation", new { id = Model.DonationId });
            @Html.ActionLink("DELETE", "Delete", "Donation", new { id = Model.DonationId });
            break;
    }
}
</div>