﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Humber Bay</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <link rel="stylesheet" href="~/css/slideshow.css" />
        <link rel="stylesheet" href="~/css/faq.css" />
        <link rel="stylesheet" href="~/css/contact.css" />
        <link rel="stylesheet" href="~/css/testimonial.css" />
        <link rel="stylesheet" href="~/css/getWellMessage.css" />
        <link rel="stylesheet" href="~/css/donationstyle.css" />
        <link rel="stylesheet" href="~/css/job.css" />
        <link rel="stylesheet" href="~/css/foodService.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Humber Bay</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>@Html.ActionLink("Admins", "Index", "Admin")</li>
                    @*
                    <li>@Html.ActionLink("Pages", "Index", "Page")</li>
                    <li>@Html.ActionLink("FAQs", "Index", "FAQ")</li>
                    <li>@Html.ActionLink("Get Well Messages", "Index", "GetWellMessage")</li>

                    <li>@Html.ActionLink("Doctors", "Index", "Doctor")</li>
                    <li>@Html.ActionLink("Careers", "Index", "Job")</li>
                    <li>@Html.ActionLink("SurveyQuestions", "Index", "SurveyQuestion")</li>
                    <li>@Html.ActionLink("SurveyAnswers", "New", "SurveyAnswer")</li>*@
                    <li>@Html.ActionLink("Testimonials", "Index", "Testimonial")</li>
                    <li>@Html.ActionLink("Food Service", "List", "FoodService")</li>
                    <li>@Html.ActionLink("Alerts", "List", "Alert")</li>
                    <li>@Html.ActionLink("Donations", "List", "Donation")</li>
                    <li>@Html.ActionLink("Volunteers", "List", "Volunteer")</li>
                    <li>@Html.ActionLink("Contact Us", "List", "ContactUs")</li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <main class="container page-wrapper">
        @RenderBody()
        <hr />
    </main>
    <footer>
        <div class="page-wrapper">
            <p>&copy; 2019 - Humber Bay Hospital</p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <script src="~/js/slideshow.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
