﻿@model IEnumerable<NBRHC.Models.VolunteerApplicant>

<div style="font-size:24pt;">
    @Html.ActionLink("ADD NEW APPLICANT", "new", "VolunteerApplicant")
</div>

<div style="font-size:24pt;">
    @Html.ActionLink("TO VOLUNTEERS", "list", "volunteer")
</div>

@foreach (var volunteerapplicant in @Model)
{
    <h4>@Html.ActionLink("View Applicant", "Show", "VolunteerApplicant", new { id = volunteerapplicant.id })</h4>
    <p>First name: @volunteerapplicant.firstName</p>
    <p>Last name: @volunteerapplicant.lastName</p>
    <p>City: @volunteerapplicant.city</p>
    <p>Street number: @volunteerapplicant.streetNumber</p>
    <p>Cell phone: @volunteerapplicant.cellPhoneNo</p>
    <p>Home phone: @volunteerapplicant.homePhoneNo</p>
    <p>Email: @volunteerapplicant.email</p>

}
