﻿@model NBRHC.Models.VolunteerApplicant
<!--Volunteer applicant-->
<!--Navigation link-->
@Html.ActionLink("BACK TO LIST", "list", "VolunteerApplicant")

<h1>Show applicant: @Model.firstName @Model.lastName</h1>

<p>Applicant ID: @Model.id</p>
<p>City: @Model.city</p>
<p>Street number: @Model.streetNumber</p>
<p>Email: @Model.email</p>
<p>Home phone: @Model.homePhoneNo</p>
<p>Cell phone: @Model.cellPhoneNo</p>
@Html.ActionLink("DELETE", "Delete", "VolunteerApplicant", new { id = Model.id })

<!--
ID
cellPhoneNo
homePhoneNo
city
email
firstName
lastName
streetNumber
-->
