﻿@model NBRHC.Models.NewsLetterAdminModel

@{
    ViewData["Title"] = "Create";
}

<h2>Add Post</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Des" class="control-label"></label>
                <textarea asp-for="Des" class="form-control" required></textarea>
                <span asp-validation-for="Des" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Post" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


