﻿@model System.Data.DataTable
@{
    ViewData["Title"] = "NewsLetterIndex";
}

<h2>News Letter</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Posts</th>
        <th>Action</th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>

            <td>@Model.Rows[i][1]</td>
            <td>
                <a href="@Url.Action("Edit" , "NewsLetterAdmin" ,new {@id=Model.Rows[i][0] })">Edit</a>
                <a href="@Url.Action("Delete" , "NewsLetterAdmin" ,new {@id=Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }

</table>


