﻿@model NBRHC.Models.ContactUs

@{
    ViewData["Title"] = "Message Details";
}


<div class="container">
    <h2>Sender:</h2>
    <hr />
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: @Model.ContactName</li>
            <li class="list-group-item">Email: @Model.ContactEmail</li>
            <li class="list-group-item">Phone: @Model.ContactPhone</li>
        </ul>
    </div>
    <hr />
    <h2>Message:</h2>
    <div class="jumbotron">
        <h1 class="display-4">@Model.ContactSubject</h1>
        <p class="lead">@Model.ContactDateSubmitted</p>
        <hr class="my-4">
        <p>@Model.ContactMessage</p>
    </div>
    <form method="get" action="/ContactUs/Delete/@Model.ContactID">
        <button type="submit" class="btn btn-primary">Delete Message</button>
    </form>
    <br />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
