﻿@model IEnumerable<NBRHC.Models.ContactUs>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["AddSuccess"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <strong>Message successfully sent!</strong>
        <div>We will get back to you shortly.</div>
    </div>
}
else if (TempData["AddFail"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Failed to send message</strong>
    </div>
}
else if (TempData["DeleteSuccess"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <strong>Message succeessfully deleted</strong>
    </div>
}
<div class="container">
    <h1>Messages</h1>
    <hr />
    @if ((int)ViewData["UserState"] == 1)
    {
        <!-- Users that do not have an admin account must create an admin account in order to see Edit/Details/Delete -->
    <div class="row">
        <form method="get" action="/Admin/Create">
            <button type="submit" class="btn btn-primary" id="createAdmin">Create an Admin</button>
        </form>
    </div>
    <div class="row">
        <form method="get" action="/ContactUs/New">
            <button type="submit" class="btn btn-primary">Send a message</button>
        </form>
    </div>

    }
    else if ((int)ViewData["UserState"] == 0)
    {
        <!-- Webiste visitors can send a message -->
        <form method="get" action="/ContactUs/New">
            <button type="submit" class="btn btn-primary">Send a message</button>
        </form>
    }
    else if ((int)ViewData["UserState"] == 2)
    {
        @*<form method="get" action="/ContactUs/New">
                <button type="submit" class="btn btn-primary">Test Message</button>
          </form>*@
    }
    <br />
    <br />

    @if ((int)ViewData["UserState"] == 0 || (int)ViewData["UserState"] == 1)
    {
        <div>
            <h3>Hello, this is the message centre. To send a message please click the "Send a message" button above.</h3>
        </div>
    }
    @if ((int)ViewData["UserState"] == 2)
    {
        //Pagination
        <div id="paginationSummary">
            @ViewData["PaginationSummary"]
        </div>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">@Html.ActionLink("Prev", "List", "ContactUs", new { pagenum = ((int)ViewData["pagenum"] - 1) })</li>
                    <li class="page-item">@Html.ActionLink("Next", "List", "ContactUs", new { pagenum = ((int)ViewData["pagenum"] + 1) })</li>
                </ul>
            </nav>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactSubject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactDateSubmitted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactPhone)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactSubject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactDateSubmitted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactPhone)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.ContactID })
                                @Html.Raw(" | ")*@
                            @Html.ActionLink("Details", "Details", new { id = item.ContactID })
                            @Html.Raw(" | ")
                            @Html.ActionLink("Delete", "Delete", new { id = item.ContactID }, new { onclick = "return confirm('Are you sure you wish to delete this image?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>