﻿@model NBRHC.Models.GetWellMessage

@{
    ViewBag.Title = "Details";
}

<div class="item message">
    <h2 class="bold">@Model.GetWellMessageTitle</h2>
    <div>
        @Html.DisplayFor(model => model.GetWellMessageDateSubmitted)
        <br />
        @Model.GetWellMessageAreaName, Room @Model.GetWellMessageRoomNumber
    </div>
    <br />
    <div>
        <div>
            <span class="bold">To:</span> @Model.GetWellMessagePatientName
        </div>
        <div>
            <span class="bold">From:</span> @Model.GetWellMessageSenderName (@Model.GetWellMessageSenderEmail)
        </div>
    </div>
    <br />
    <p class="quote">"@Model.GetWellMessageContent"</p>
    <div>
        <label for="getWellMessageApprove">Approve</label>
        <span id="getWellMessageApprove">@Html.DisplayFor(model => model.GetWellMessageApprove)</span>
    </div>
</div>
<div>
    @if ((int)ViewData["userstate"] == 2)
    {
        @Html.ActionLink("Edit", "Edit/" + Model.GetWellMessageID, "GetWellMessage", null, new { @class = "btn btn-default" })
        @Html.Raw(" ");
        @Html.ActionLink("Delete", "Delete/" + Model.GetWellMessageID, "GetWellMessage", null, new { @class = "btn btn-default" })
    }
    <br />
    <br />
    @Html.ActionLink("Back to List", "Index", "GetWellMessage", null, new { @class = "btn btn-default" })
</div>
