﻿<!--Referenced Christines code-->
@model IEnumerable<NBRHC.Models.GetWellMessage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UnwrappedLayout.cshtml";
}

<div id="get-well-message-banner" class="banner flex-container">
    <h2 class="banner-title wrapper">Send a Get Well Message</h2>
</div>

<div id="get-well-messages">
    @if ((int)ViewData["userstate"] == 1)
    {
        <!-- Users that do not have an admin account must create an admin account in order to see Edit/Details/Delete -->
        @Html.ActionLink("Create an Admin", "Create", "Admin")
    }
    else if ((int)ViewData["userstate"] == 0)
    {
        <!-- Website visitors can write a get well message-->
        @Html.ActionLink("Write a Get Well Message", "New", "GetWellMessage", null, new { @class = "button" });
    }

    <br />
    <br />

    <!--If viewer is user, they can see the list of get well messages-->
    @if ((int)ViewData["userstate"] > 0)
    {
        <div>
            <!--Referenced Christines code, pagination-->
            <!--Pagination only shows if theres more than one page-->
            @if ((string)ViewData["PaginationSummary"] != "")
            {
                @ViewData["PaginationSummary"]
                @Html.Raw(" ");
                @Html.ActionLink("Prev", "List", "GetWellMessage", new { pagenum = ((int)ViewData["pagenum"] - 1) })
                @Html.Raw(" ");
                @Html.ActionLink("Next", "List", "GetWellMessage", new { pagenum = ((int)ViewData["pagenum"] + 1) })
            }
        </div>

        <h3>Messages To Be Sent</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.GetWellMessageTitle)</th>
                    <th>@Html.DisplayNameFor(model => model.GetWellMessageDateSubmitted)</th>
                    <th>@Html.DisplayNameFor(model => model.GetWellMessageAreaName)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var message in Model)
                {
                    if (message.GetWellMessageApprove)
                    {
                        <tr>
                            <td>@message.GetWellMessageTitle</td>
                            <td>@message.GetWellMessageDateSubmitted</td>
                            <td>@message.GetWellMessageAreaName</td>
                            <td>
                                <!-- If user is an admin, can see Edit/Details/Delete -->
                                @if ((int)ViewData["userstate"] == 2)
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = message.GetWellMessageID })
                                    @Html.Raw(" | ")
                                }
                                @Html.ActionLink("Details", "Details", new { id = message.GetWellMessageID })
                                @if ((int)ViewData["userstate"] == 2)
                                {
                                    @Html.Raw(" | ")
                                    @Html.ActionLink("Delete", "Delete", new { id = message.GetWellMessageID })
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />
        <br />
        <h3>Messages To Be Reviewed</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.GetWellMessageTitle)</th>
                    <th>@Html.DisplayNameFor(model => model.GetWellMessageDateSubmitted)</th>
                    <th>@Html.DisplayNameFor(model => model.GetWellMessageAreaName)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var message in Model)
                {
                    if (!message.GetWellMessageApprove)
                    {
                        <tr>
                            <td>@message.GetWellMessageTitle</td>
                            <td>@message.GetWellMessageDateSubmitted</td>
                            <td>@message.GetWellMessageAreaName</td>
                            <td>
                                <!-- If user is an admin, can see Edit/Details/Delete -->
                                @if ((int)ViewData["userstate"] == 2)
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = message.GetWellMessageID })
                                    @Html.Raw(" | ")
                                }
                                @Html.ActionLink("Details", "Details", new { id = message.GetWellMessageID })
                                @if ((int)ViewData["userstate"] == 2)
                                {
                                    @Html.Raw(" | ")
                                    @Html.ActionLink("Delete", "Delete", new { id = message.GetWellMessageID })
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>
