﻿@model NBRHC.Models.GetWellMessage 

@{
    ViewBag.Title = "New";
}

<form method="POST" action="/GetWellMessage/New" class="form-container">
    <h2>Write a Get Well Message </h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        <div class="form-group-container">
            @Html.LabelFor(model => model.GetWellMessageSenderName)
            <div>
                @Html.EditorFor(model => model.GetWellMessageSenderName)
                @Html.ValidationMessageFor(model => model.GetWellMessageSenderName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GetWellMessageSenderEmail)
            <div>
                @Html.EditorFor(model => model.GetWellMessageSenderEmail)
                @Html.ValidationMessageFor(model => model.GetWellMessageSenderEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group-container">
            @Html.LabelFor(model => model.GetWellMessageTitle)
            <div>
                @Html.EditorFor(model => model.GetWellMessageTitle)
                @Html.ValidationMessageFor(model => model.GetWellMessageTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group-container">
            @Html.LabelFor(model => model.GetWellMessageContent)
            <div>
                @Html.EditorFor(model => model.GetWellMessageContent)
                @Html.ValidationMessageFor(model => model.GetWellMessageContent, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group-container">
            @Html.LabelFor(model => model.GetWellMessagePatientName)
            <div>
                @Html.EditorFor(model => model.GetWellMessagePatientName)
                @Html.ValidationMessageFor(model => model.GetWellMessagePatientName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group-container">
            @Html.LabelFor(model => model.GetWellMessageAreaName)
            <div>
                @Html.EditorFor(model => model.GetWellMessageAreaName)
                @Html.ValidationMessageFor(model => model.GetWellMessageAreaName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group-container">
            @Html.LabelFor(model => model.GetWellMessageRoomNumber)
            <div>
                @Html.EditorFor(model => model.GetWellMessageRoomNumber)
                @Html.ValidationMessageFor(model => model.GetWellMessageRoomNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group-container">
            <input type="submit" value="Send" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Index", "GetWellMessage", null, new { @class = "btn btn-default" })
        </div>
    </div>
</form>

