﻿@model NBRHC.Models.Page

@{
    ViewBag.Title = "Details";
}

<!--
    //UserState
        //0 => No user account
        //1 => Has user account but no admin account
        //2 => Has user account and admin account but no pages created
        //3 => Has user account and admin account and has atleast one page created
-->

<div class="item page">
    <h2>@Model.PageTitle</h2>
    <!--Users can see the admin of the page-->
    @if ((int)ViewData["UserState"] > 0)
    {
        <label for="pageAdmin">Admin</label>
        <span id="pageAdmin" class="bold">
            @Html.ActionLink(Model.Admin.AdminFirstName + " " + Model.Admin.AdminLastName, "Details", "Admin", new { id = Model.AdminID })
        </span>
    }

        <div>
            @Html.DisplayFor(model => model.PageContent)
        </div>

        <!--Users can see the publish status of a page-->
        @if ((int)ViewData["UserState"] > 0)
        {
            <br />
            <div>
                <label for="pagePublish">Publish</label>
                <span id="pagePublish">@Html.DisplayFor(model => model.PagePublish)</span>
            </div>
        }
    </div>
<div>
    <!--If viewer is the admin of the page, they can edit it-->
    @if ((bool)ViewData["IsUserPageOwner"])
    {
        @Html.ActionLink("Edit", "Edit/" + Model.PageID, "Page", null, new { @class = "btn btn-default" })
        @Html.Raw(" ");
        @Html.ActionLink("Delete", "Delete/" + Model.PageID, "Page", null, new { @class = "btn btn-default" })
    }
    <br />
    <br />
    @Html.ActionLink("Back to Page List", "Index", "Page", null, new { @class = "btn btn-default" })
</div>
