﻿@model NBRHC.Models.Page

@{
    ViewBag.Title = "Edit";
}

<form method="POST" action="/Page/Edit" class="form-container">
    <h2>Edit @Model.PageTitle</h2>
    <!--hidden fields-->
    <input type="hidden" name="PageAdminID_Edit" value="@Model.AdminID" />
    <input type="hidden" name="id" value="@Model.PageID" />

    <div class="form-group-container">
        <label for="PageTitle_Edit">Page Title</label>
        <div>
            <input type="text" id="PageTitle_Edit" name="PageTitle_Edit" value="@Model.PageTitle"/>
        </div>
    </div>
    <div class="form-group-container">
        <label for="PageContent_Edit">Page Content</label>
        <div>
            <input type="text" id="PageContent_Edit" name="PageContent_Edit" value="@Model.PageContent" />
        </div>
    </div>
    <div class="form-group-container">
        <label for="PagePublish_Edit">Publish</label>
        <input type="checkbox" id="PagePublish_Edit" name="PagePublish_Edit" value="true"  
               @if (@Model.PagePublish) { @Html.Raw("checked") } />
    </div>
    <div class="form-group-container">
        <input type="submit" value="Save" class="btn btn-default" />
        @Html.ActionLink("Cancel", "Details/" + Model.PageID, "Page", null, new { @class = "btn btn-default" })
    </div>
    <div>
        @Html.ActionLink("Back to Page List", "Index", "Page", null, new { @class = "btn btn-default" })
    </div>
</form>