﻿<!--Referenced Christine's code-->
@model IEnumerable<NBRHC.Models.Page>

@{
    ViewBag.Title = "Index";
}

<h2>Pages</h2>

<!--
    If viewer is a user and is not an admin, they are shown the "Create an Admin" option
    If viewer is a user and is an admin, they are shown the "Add a New Page option"
    //UserState
        //0 => No user account
        //1 => Has user account but no admin account
        //2 => Has user account and admin account but no pages created
        //3 => Has user account and admin account and has atleast one page created
-->

@if ((int)ViewData["UserState"] == 1)
{
    //Has user account but no admin account
    @Html.ActionLink("Create an Admin", "Create", "Admin")
}
else if ((int)ViewData["UserState"] > 1)
{
    //Has user account and admin account
    @Html.ActionLink("Add a New Page", "New")
}
<br />
<br />
<div>
    <!--Referenced Christines code, pagination-->
    <!--Pagination only shows if theres more than one page-->
    @if ((string)ViewData["PaginationSummary"] != "")
    {
        @ViewData["PaginationSummary"]
        @Html.Raw(" ");
        @Html.ActionLink("Prev", "List", "Page", new { pagenum = ((int)ViewData["pagenum"] - 1) })
        @Html.Raw(" ");
        @Html.ActionLink("Next", "List", "Page", new { pagenum = ((int)ViewData["pagenum"] + 1) })
    }
</div>
<!--List of published pages-->
@if ((int)ViewData["UserState"] > 0)
{
    <h3>Published Pages</h3>
}
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PageTitle)</th>
            <th>@Html.DisplayNameFor(model => model.PageContent)</th>
            <!--Users and admin users can see the admin of the page-->
            @if ((int)ViewData["UserState"] > 0)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Admin)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var page in Model)
        {
            if (page.PagePublish)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => page.PageTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => page.PageContent)
                    </td>
                    <!--Users and admin users can see the admin of the page-->
                    @if ((int)ViewData["UserState"] > 0)
                    {
                    <td>
                        @Html.ActionLink(page.Admin.AdminFirstName + " " + page.Admin.AdminLastName, "Details", "Admin", new { id = page.AdminID })
                    </td>
                    }
                    <td>
                        <!--If user is an admin, they can see the Edit and Delete options
                        for the pages they created-->
                        @if (page.AdminID == (int)ViewData["UserAdminID"])
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = page.PageID })
                            @Html.Raw(" | ")
                        }
                        @Html.ActionLink("Details", "Details", new { id = page.PageID })
                        @if (page.AdminID == (int)ViewData["UserAdminID"])
                        {
                            @Html.Raw(" | ")
                            @Html.ActionLink("Delete", "Delete", new { id = page.PageID })
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<br />
<!--List of unpublished pages-->
<!--Only users and admin users can see unpublished pages-->
@if ((int)ViewData["UserState"] > 0)
{
    <h3>Unpublished Pages</h3>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PageTitle)</th>
                <th>@Html.DisplayNameFor(model => model.PageContent)</th>
                <!--Users and admin users can see the admin of the page-->
                @if ((int)ViewData["UserState"] > 0)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Admin)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var page in Model)
            {
                if (!page.PagePublish)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => page.PageTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => page.PageContent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => page.Admin.AdminFirstName)
                            @Html.DisplayFor(modelItem => page.Admin.AdminLastName)
                        </td>
                        <td>
                            <!--If user is an admin, they can see the Edit and Delete options
                            for the pages they created-->
                            @if (page.AdminID == (int)ViewData["UserAdminID"])
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = page.PageID })
                                @Html.Raw(" | ")
                            }
                            @Html.ActionLink("Details", "Details", new { id = page.PageID })
                            @if (page.AdminID == (int)ViewData["UserAdminID"])
                            {
                                @Html.Raw(" | ")
                                @Html.ActionLink("Delete", "Delete", new { id = page.PageID })
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

