﻿@model NBRHC.Models.Page

@{
    ViewBag.Title = "New";
}

<form method="POST" action="/Page/New" class="form-container">
    @Html.AntiForgeryToken()

    <h2>New Page</h2>
    <!--hidden field-->
    <input type="hidden" name="PageAdminID_New" value="@ViewData["UserAdminID"]" />

    <div class="form-group-container">
        <label for="PageTitle_New">Page Title</label>
        <div>
            <input type="text" id="PageTitle_New" name="PageTitle_New" />
        </div>
    </div>
    <div class="form-group-container">
        <label for="PageContent_New">Page Content</label>
        <div>
            <input type="text" id="PageContent_New" name="PageContent_New" />
        </div>
    </div>
    <div class="form-group-container">
        <label for="PagePublish_New">Publish</label>
        <input type="checkbox" id="PagePublish_New" name="PagePublish_New" value="true" />
    </div>
    <div class="form-group-container">
        <input type="submit" value="Add" class="btn btn-default" />
        @Html.ActionLink("Cancel", "Index", "Page", null, new { @class = "btn btn-default" })
    </div>
</form>
