﻿
@{
    ViewData["Title"] = "Create";
}
<!-- Add form-->
<!--refered from your code-->
<h2>Create</h2>
<form method="POST" action="/FoodService/Create">

    <div class="form-group">
        <input type="hidden" class="form-control" name="FoodAdmin" value="@ViewData["UserHasAdmin"]">
    </div>
    <div class="form-group">
        <label for="FoodName">Food Name</label>
        <input type="text" class="form-control" name="FoodName" />    
    </div>

    <div class="form-group">
        <label for="SpeciallyFor">Specially For</label>
        <input type="text" class="form-control" name="SpeciallyFor">
    </div>

    <div class="form-group">
        <label for="foodPrice">Price</label>
        <input type="number" class="form-control" name="foodPrice">
    </div>
    <button type="submit" class="btn btn-success" name="submit_food">Submit</button>
</form>


