﻿@model NBRHC.Models.FoodService
@{
    ViewData["Title"] = "Edit";
}
<!-- Edit Food Service-->
<!-- refered from christines code-->
<h2>Edit</h2>
<form method="POST" action="/FoodService/Edit/@Model.FoodServiceID">

    <div class="form-group">
        <label for="FoodName">Food Name</label>
        <input type="text" class="form-control" name="FoodName" value="@Model.FoodName" />
    </div>

    <div class="form-group">
        <label for="SpeciallyFor">Specially For</label>
        <input type="text" class="form-control" name="SpeciallyFor" value="@Model.PatientType">
    </div>

    <div class="form-group">
        <label for="foodPrice">Price</label>
        <input type="number" class="form-control" name="foodPrice" value="@Model.FoodPrice">
    </div>
    <button type="submit" class="btn btn-success" name="submit_food">Submit</button>
</form>




