﻿@model IEnumerable<NBRHC.Models.FoodService>
@{
    ViewData["Title"] = "List";
}
<!--Client View-->
<!--refered from christine code-->
<div class="food_header">
    <h2 class="text-center"> Food Service</h2>
</div>

<div class="jumbotron">

    <!-- Table for the menu -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Food Name</th>
                <th scope="col">Specially For</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in Model)
            {
                <tr>
                    <td>@food.FoodName</td>
                    <td>@food.PatientType</td>
                    <td>$ @food.FoodPrice </td>
                </tr>
            }
    </table>
    <div class="page-list">
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "List",
            "FoodService",
            new { pagenum= ((int)ViewData["pagenum"]-1)}
            )
        |
        @Html.ActionLink("Next",
            "List",
            "FoodService",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
            )
    </div>
</div>