﻿@model IEnumerable<NBRHC.Models.FoodService>
@{
    ViewData["Title"] = "Show";
}
<!-- Admin view-->
<!--refered fron christine code-->
<h2>Show</h2>
@Html.ActionLink("Add new ", "Create")
<div class="jumbotron">
    <h2> Food Service</h2>
    <p><span> Title</span></p>


    <!-- Table for the menu -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Food Name</th>
                <th scope="col">Specially For</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <!--loop for adding enteries to the main page-->
 @foreach (var food in Model) {
     <tr>
         <td>@food.FoodName</td>
            <td>@food.PatientType</td>
                <td>@food.FoodPrice </td>
                   <td>
                        @Html.ActionLink("Edit Food", "Edit/" + food.FoodServiceID, "FoodService")
                        |
                        @Html.ActionLink("Delete Food", "Delete", new { id = food.FoodServiceID }) 
                           </td>

      </tr>
         }
        </tbody>
    </table>
</div>