﻿@model NBRHC.Models.DonationGoal

<div class="crud-nav">
    <div>
        @Html.ActionLink("BACK TO LIST", "list", "DonationGoal")
    </div>
    <div>
        @Html.ActionLink("BACK TO SHOW", "show", "DonationGoal")
    </div>
</div>

<head>
    <link href="donationstyle.css" rel="stylesheet" type="text/css">
</head>

<form method="POST" action="/DonationGoal/Edit/@Model.DonationGoalId">

    <!--Start date
        End date
        Goal
        Progress
        Was met-->
    <h1>Editing donation goal: @Model.StartDate - @Model.EndDate</h1>
    <h4>Target: @Model.Goal</h4>
    <div>
        <label>Start date</label>
        <input type="text" name="startdate" value="@Model.StartDate">
    </div>
    <div>
        <label>End date:</label>
        <input type="text" name="enddate" value="@Model.EndDate">
    </div>
    <div>
        <label>Goal:</label>
        <input type="text" name="goal" value="@Model.Goal">
    </div>
    <input type="submit" name="submitbtn" value="OK">
</form>

