﻿@model IEnumerable<NBRHC.Models.DonationGoal>

@{
    ViewData["Title"] = "DonationGoals";
}

<head>
    <link href="donationstyle.css" rel="stylesheet" type="text/css">
</head>

<div id="debug">
    <!--ViewData["UserState"]-->
</div>

<div class="crud-nav">
    <div style="font-size:24pt;">
        @{
            switch (ViewData["UserState"])
            {
                case "Guest": @Html.ActionLink("SIGN UP!", "List", "DonationGoal");
                    break;
                case "User": @Html.ActionLink("ADD NEW", "New", "DonationGoal");
                    break;
                case "Admin": @Html.ActionLink("ADD NEW", "New", "DonationGoal");
                    break;
            }
        }
    </div>
    <div style="font-size:24pt;">
        @Html.ActionLink("TO DONORS", "list", "donor")
    </div>
    <div style="font-size:24pt;">
        @Html.ActionLink("TO DONATIONS", "list", "donation")
    </div>
</div>

@ViewData["PaginationSummary"]

@Html.ActionLink("<- Prev", "List", "DonationGoal",
new { pagenum = ((int)ViewData["pagenum"]-1)})

@Html.ActionLink("Next ->", "List", "DonationGoal",
new { pagenum = ((int)ViewData["pagenum"] + 1) })

@foreach (var donationgoal in @Model)
            {
    <div style="background-color:lightgrey">
        <h4>Donation goal for $@donationgoal.Goal from @donationgoal.StartDate until @donationgoal.EndDate</h4>
        @Html.ActionLink("View Donation Goal", "Show", "DonationGoal",
            new { id = donationgoal.DonationGoalId })
    </div>
}
            @ViewData["PaginationSummary"]

            @Html.ActionLink("<- Prev", "List", "Blog",
new { pagenum = ((int)ViewData["pagenum"]-1)})

@Html.ActionLink("Next ->", "List", "Blog",
new { pagenum = ((int)ViewData["pagenum"] + 1) })