﻿@model NBRHC.Models.DonationGoal

@{
    ViewData["Title"] = "AddDonationGoal";
}

<div class="crud-nav">
    <div style="font-size:24px;">
        @Html.ActionLink("BACK TO LIST", "list", "DonationGoal")
    </div>
</div>

<head>
    <link href="donationstyle.css" rel="stylesheet" type="text/css">
</head>

<form method="post" action="/DonationGoal/Create">

    <h1>Add Donation Goal</h1>
    <!--Donation goal form fields:
        Goal
        Startdate
        Enddate-->
    <div>
        <label>Goal:</label>
        <input type="text" name="formgoal">
    </div>
    <div>
        <label>Start date:</label>
        
        <input type="text" name="formstartdate">
    </div>
    <div>
        <label>End date:</label>
        <input type="text" name="formenddate">
    </div>
    <div>
        <input type="submit" name="formsubmitbtn" value="OK">
    </div>
</form>