﻿@model NBRHC.Models.DonationGoal

<head>
    <link href="donationstyle.css" rel="stylesheet" type="text/css">
</head>

<div class="crud-nav"
     @Html.ActionLink("BACK TO LIST", "list", "donationgoal")
</div>

<h1>Show Donation Goal</h1>

<p><span style="font-weight:bold;">Donation goal ID:</span> @Model.DonationGoalId</p>
<p><span style="font-weight:bold;">Goal:</span> @Model.Goal</p>
<p><span style="font-weight:bold;">Progress:</span> @Model.Progress</p>
<p><span style="font-weight:bold;">Start date:</span> @Model.StartDate</p>
<p><span style="font-weight:bold;">End date:</span> @Model.EndDate</p>
<p><span style="font-weight:bold;">Was met:</span> @Model.WasMet</p>
<div>
    @{
        switch (ViewData["UserState"])
        {
            case "Guest": break;
            case "User":
                @Html.ActionLink("EDIT", "Edit", "DonationGoal", new { id = Model.DonationGoalId });
                @Html.ActionLink("DELETE", "Delete", "DonationGoal", new { id = Model.DonationGoalId });
                break;
            case "Admin":
                @Html.ActionLink("EDIT", "Edit", "DonationGoal", new { id = Model.DonationGoalId });
                @Html.ActionLink("DELETE", "Delete", "DonationGoal", new { id = Model.DonationGoalId });
                break;
        }
    }
</div>
