﻿@model IEnumerable<Alert>

<div style="font-size:24pt;">
    @Html.ActionLink("ADD NEW", "new", "alert")
</div>
@foreach(var alert in @Model)
{
    <h4>@Html.ActionLink("View Alert", "Show", "Alert", new { id = alert.ID })</h4>
    <p>the alert description is @alert.description</p>
    <p>The start date is @alert.startTime</p>
    <p>The end date is @alert.endTime</p>
}
