﻿@model NBRHC.Models.Alert

@{
    ViewData["Title"] = "AddAlert";
}
<div style="font-size:24pt;">
    @Html.ActionLink("BACK TO LIST", "list", "alert")
</div>
<form method="post" action="/Alert/Create">
    <h1>Add New Alert</h1>
    <!--<div>
        <label>Category:</label>
        <input type="text" name="formcategory">
    </div>-->
    <div>
        <label>Description:</label>
        <input type="text" name="formdescription">
    </div>
    <div>
        <label>Start Date:</label>
        <input type="text" name="formstartdate">
    </div>
    <div>
        <label>End Date:</label>
        <input type="text" name="formenddate">
    </div>
    <div>
        <input type="submit" name="formsubmitbtn" value="OK" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>