﻿@model NBRHC.Models.Alert

<p>Alert description: @Model.description</p>
<p>Start time: @Model.startTime</p>
<p>End time: @Model.endTime</p>
@Html.ActionLink("DELETE", "Delete", "Alert", new { id = Model.ID })