﻿@model IEnumerable<NBRHC.Models.Volunteer>

<div style="font-size:24pt;">
    @Html.ActionLink("ADD NEW VOLUNTEER", "new", "volunteer")
</div>

<div style="font-size:24pt;">
    @Html.ActionLink("TO APPLICANTS", "list", "VolunteerApplicant")
</div>

@foreach (var volunteer in @Model)
{
    <h4>@Html.ActionLink("View Volunteer", "Show", "Volunteer", new { id = volunteer.id })</h4>
    <p>First name: @volunteer.firstName</p>
    <p>Last name: @volunteer.lastName</p>
    <p>City: @volunteer.city</p>
    <p>Street number: @volunteer.streetNumber</p>
    <p>Cell phone: @volunteer.cellPhoneNo</p>
    <p>Home phone: @volunteer.homePhoneNo</p>
    <p>Email: @volunteer.email</p>

}
