﻿@model NBRHC.Models.Volunteer

<div style="font-size:24pt;">
    @Html.ActionLink("BACK TO LIST", "list", "volunteer")
</div>

<!--For the form volunteer form we need: 
    firstName
    lastName
    cellPhoneNo
    homePhoneNo
    city
    streetNumber
    email-->

<form method="post" action="/Volunteer/Create">
    <h1>New Volunteer</h1>
    <div>
        <label>First name:</label>
        <input type="text" name="formfirstname">
    </div>
    <div>
        <label>Last name:</label>
        <input type="text" name="formlastname">
    </div>
    <div>
        <label>Cell phone:</label>
        <input type="text" name="formcellphone">
    </div>
    <div>
        <label>Home phone:</label>
        <input type="text" name="formhomephone">
    </div>
    <div>
        <label>City:</label>
        <input type="text" name="formcity">
    </div>
    <div>
        <label>Street number:</label>
        <input type="text" name="formstreetnumber">
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="formemail">
    </div>
    <div>
        <input type="submit" value="OK">
    </div>
</form>