﻿@model NBRHC.Models.Volunteer
<!--Volunteer-->

<!--Put navigation links here-->
@Html.ActionLink("BACK TO LIST", "list", "volunteer")

<h1>Show volunteer: @Model.firstName @Model.lastName</h1>

<p>Volunteer ID: @Model.id</p>
<p>City: @Model.city</p>
<p>Street number: @Model.streetNumber</p>
<p>Email: @Model.email</p>
<p>Cell phone: @Model.cellPhoneNo</p>
<p>Home phone: @Model.homePhoneNo</p>
@Html.ActionLink("DELETE", "Delete", "Volunteer", new { id = Model.id})

<!--
ID
    cellPhoneNo
    homePhoneNo
    city
    email
    firstName
    lastName
    streetNumber
-->