﻿@model IEnumerable<NBRHC.Models.Employee>
@{
    ViewData["Title"] = "List";
}

<div class="reccontainer" style="overflow:hidden;">
    @foreach (var employee in Model)
    {
        <div class="rec">

            <div class="recbody">
                <p>Name :@employee.EmployeeFName@employee.EmployeeLName</p>
            </div>
            <div class="clearfix"></div>
        </div>

    }
</div>

