﻿@model NBRHC.Models.ViewModels.EmployeeEdit
@{
    ViewData["Title"] = "New";
}

<h2>Fill the following Information</h2>

<form method="POST" class="form-horizontal" action="/Employee/New">

    <div class="form-group">
        <label class="control-label col-sm-2">Job Title</label>
        <div class="col-sm-10">
            <select id="EmployeeJob_New" class="form-control" name="EmployeeJob_New">
                @foreach (var job in Model.Jobs)
                {
                    <option value="@job.JobID">@job.JobTitle </option>
                }
            </select>
        </div>
    </div>
        <div class="form-group">
            <label class="control-label col-sm-2">First Name</label>
            <div class="col-sm-10">
                <input id="EmployeeFName_New" class="form-control" name="EmployeeFName_New" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Last Name</label>
            <div class="col-sm-10">
                <input id="EmployeeLName_New" class="form-control" name="EmployeeLName_New" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-sm-2">EmailID</label>
            <div class="col-sm-10">
                <input id="EmailID_New" class="form-control" name="EmailID_New" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Phone Number</label>
            <div class="col-sm-10">
                <input id="PhoneNumber_New" class="form-control" name="PhoneNumber_New" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Street Name</label>
            <div class="col-sm-10">
                <input id="StreetName_New" class="form-control" name="StreetName_New" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">City</label>
            <div class="col-sm-10">
                <input id="City_New" class="form-control" name="City_New" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">PostalCode</label>
            <div class="col-sm-10">
                <input id="PostalCode_New" class="form-control" name="PostalCode_New" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>

</form>

