﻿@model NBRHC.Models.ViewModels.SurveyQuestionEdit
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit question</h2>
<form method="POST" action="/SurveyQuestion/Edit/@Model.SurveyQuestion.QuestionID">
    <div class="inprow">
        <label class="inplabel">Question</label>
        <input type="text" value="@Model.SurveyQuestion.Question" id="Question" name="Question" />
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>

