﻿@model IEnumerable<NBRHC.Models.SurveyQuestion>
@{
    ViewData["Title"] = "List";
}

<h2>List of Survey questions</h2>

<div class="recadd">
    @Html.ActionLink("Add new question", "New", "SurveyQuestion")
</div>
<div class="reccontainer" style="overflow:hidden;">
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "List",
        "SurveyQuestion",
        new { pagenum= ((int)ViewData["pagenum"]-1)}
        )
    |
    @Html.ActionLink("Next",
        "List",
        "SurveyQuestion",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
    @foreach (var surveyquestion in Model)
    {
        <div class="rec">

            <div class="recbody">
                <label>@Html.ActionLink(surveyquestion.Question, "Show/" + surveyquestion.QuestionID)</label>

                <span class="del">
                    <a href="@surveyquestion" Delete/" + surveyquestion.QuestionID)"><i class="far fa-trash-alt"></i></a>
                </span>
            </div>
            <div class="clearfix"></div>
        </div>

    }
</div>

