﻿@model NBRHC.Models.ViewModels.SurveyQuestionEdit
@{
    ViewData["Title"] = "New";
}

<h2>New question</h2>
<form method="POST" action="/SurveyQuestion/New">
    <div class="inprow">
        <label class="inplabel">Question</label>
        <input id="Question_New" name="Question_New" />
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>

