﻿@model NBRHC.Models.SurveyQuestion
@{
    ViewData["Title"] = "Show";
}

<h2>Survey question:: @Model.Question </h2>

<div>
    @Html.ActionLink("Edit", "Edit/" + Model.QuestionID)
</div>

<div>
    @Html.ActionLink("Delete", "Delete/" + Model.QuestionID)
</div>

