﻿@model System.Data.DataTable
@{
    ViewData["Title"] = "Index";
}

<h2>Food Service</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Service Id</th>
        <th>Action</th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>

            <td>@Model.Rows[i][0]</td>
            <td>
                <a href="@Url.Action("Edit" , "Food" ,new {@id=Model.Rows[i][0] })">Edit</a>
                <a href="@Url.Action("Delete" , "Food" ,new {@id=Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }

</table>


