﻿@model NBRHC.Models.Doctor 
@{ 
    ViewData["Title"] = "Edit";
}

<h2>Edit Doctor Information</h2>

<form method="POST" action="/Doctor/Edit/@Model.DoctorID">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.DoctorID)
    @Html.HiddenFor(model => model.AdminID)
    <div class="inprow">
        <label class="inplabel">Doctor Department Name</label>
        <input type="text" value="@Model.DoctorDepName" id="DoctorDepName" name="DoctorDepName" />
    </div>

    <div class="inprow">
        <label class="inplabel">Doctor First Name</label>
        <input value="@Model.DoctorFName" id="DoctorFName" name="DoctorFName" />
    </div>



    <div class="inprow">
        <label class="inplabel">Doctor Last Name</label>
        <input value="@Model.DoctorLName" id="DoctorLName" name="DoctorLName" />
    </div>

    <div class="inprow">
        <label class="inplabel">Doctor EmailID</label>
        <input value="@Model.EmailID" id="EmailID" name="EmailID" />
    </div>


    <div class="inprow">
        <div class="inplabel">Doctor Phone Number</div>
        <input value="@Model.PhoneNumber" id="PhoneNumber" name="PhoneNumber" />
    </div>

    <div class="inprow">
        <div class="inplabel">Working Hours</div>
        <input value="@Model.WorkingHours" id="WorkingHours" name="WorkingHours" />
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>


</form>
