﻿@model IEnumerable<NBRHC.Models.Doctor>
@{
    ViewData["Title"] = "List";
}

<h2>Doctors</h2>
@{
    string id = "";
}

<!--If viewer is a user and is not an admin, they are shown the "Create an Admin" option
    If viewer is a user and is an admin, they are shown the "Add a New doctor option"-->
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Create an Admin", "Create", "Admin")
    }
    else if ((string)ViewData["UserHasAdmin"] != "None")
    {
        @Html.ActionLink("Add new doctor information", "New", "Doctor")
        id = (string)ViewData["UserHasAdmin"];
    }

@*<div class="recadd">
    @Html.ActionLink("Add new doctor information", "New", "Doctor")
</div>*@
<div class="reccontainer" style="overflow:hidden;">
    <div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "List",
            "Doctor",
            new { pagenum= ((int)ViewData["pagenum"]-1)}
            )
        |
        @Html.ActionLink("Next",
            "List",
            "Doctor",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
            )
        @foreach (var doctor in Model)
        {
            <div class="rec">

                <div class="recbody">
                    @*<label>@Html.ActionLink(doctor.DoctorFName + doctor.DoctorLName, "Show/" + doctor.DoctorID)</label>*@
                    <p>Doctor Name:@doctor.DoctorFName@doctor.DoctorLName</p>
                    <p>Department :@doctor.DoctorDepName</p>
                    <p>EmailID :@doctor.EmailID</p>
                    <p>Phone number :@doctor.PhoneNumber</p>
                    <p>Working hours :@doctor.WorkingHours</p>
                    @*<span class="del">
                        <a href="@doctor" Delete/" + doctor.DoctorID)"><i class="far fa-trash-alt"></i></a>
                    </span>*@
                    <!--If user is an admin, they can see the Edit and Delete options
                    for the doctor information-->
                    @if (doctor.AdminID.ToString() == id && id != "")
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = doctor.DoctorID })
                        @Html.Raw(" | ")
                    }
                        @*@Html.ActionLink("List", "List", new { id = doctor.DoctorID })*@
                        @if (doctor.AdminID.ToString() == id && id != "")
                    {
                        @Html.Raw(" | ")
                        @Html.ActionLink("Delete", "Delete", new { id = doctor.DoctorID })
                    }
                </div>
                <div class="clearfix"></div>
            </div>


        }
    </div>
</div>
