﻿@model NBRHC.Models.Doctor
@{
    ViewData["Title"] = "New";
}

<h2>New Doctor Information</h2>

<form method="POST" action="/Doctor/New">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" name="AdminID" value="@ViewData["UserHasAdmin"]" />
    <input type="hidden" name="Admin" value="@ViewData["UserAdmin"]" />
    <div class="inprow">
        <label class="inplabel">Doctor Department Name</label>
        <input id="DoctorDep_New" name="DoctorDep_New" />
    </div>

    <div class="inprow">
        <label class="inplabel">Doctor First Name</label>
        <input id="DoctorF_New" name="DoctorF_New" />
    </div>



    <div class="inprow">
        <label class="inplabel">Doctor Last Name</label>
        <input id="DoctorL_New" name="DoctorL_New" />
    </div>

    <div class="inprow">
        <label class="inplabel">Doctor EmailID</label>
        <input id="DoctorEmail_New" name="DoctorEmail_New" />
    </div>


    <div class="inprow">
        <div class="inplabel">Doctor Phone Number</div>
        <input id="DoctorPhn_New" name="DoctorPhn_New" />
    </div>

    <div class="inprow">
        <div class="inplabel">Working Hours</div>
        <input id="DoctorWH_New" name="DoctorWH_New" />
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>


</form>
