﻿@model NBRHC.Models.Doctor
@{
    ViewData["Title"] = "Show";
}

<h2>Doctor Name:: @Model.DoctorFName  @Model.DoctorLName</h2>

<div>
    @Html.ActionLink("Edit", "Edit/" + Model.DoctorID)
</div>

<div>
    @Html.ActionLink("Delete", "Delete/" + Model.DoctorID)
</div>
<p>Department :@Model.DoctorDepName</p>
<p>EmailID :@Model.EmailID</p>
<p>Phone number :@Model.PhoneNumber</p>
<p>Working hours :@Model.WorkingHours</p>