﻿@model NBRHC.Models.Testimonial

@{
    ViewBag.Title = "Details";
}

<div class="item flex-container">
    <div class="testimonial-img-container">
        @if (Model.HasPic == 1)
        {
            <img src="~/images/testimonials/@Model.ImgFilename" alt="@Model.TestimonialName" />

        }
    </div>
    <div class="testimonial-text">
        <!-- if user is an admin -->
        @if ((int)ViewData["userstate"] == 2)
        {
            <div>
                <span class="bold">Email:</span> @Model.TestimonialEmail
                <br />
                <span class="bold">Date Submitted: </span> @Model.TestimonialDate
            </div>
        }
        <h3>@Model.TestimonialTitle</h3>
        <div class="quote">"@Model.TestimonialStatement"</div>
        <div class="testimonial-author">- @Model.TestimonialName</div>

        <!-- if user is an admin, they can see the approve and publish status -->
        @if ((int)ViewData["userstate"] == 2)
        {
            <br />
            <div>
                <label for="testimonialApprove">Approve</label> 
                <span id="tesitmonialApprove">
                    @Html.DisplayFor(model => model.TestimonialApprove)
                </span>
                <br />
                <label for="testimonialPublish">Publish</label>
                <span id="testimonialPublish">
                    @Html.DisplayFor(model => model.TestimonialPublish)
                </span>
            </div>
        }
    </div>
</div>

<!--Referenced Christines code-->
<div>
    <!-- if user is an admin -->
    @if ((int)ViewData["userstate"] == 2)
    {
        @Html.ActionLink("Edit", "Edit/" + Model.TestimonialID, "Testimonial", null, new { @class = "btn btn-default" })
        @Html.Raw(" ");
        @Html.ActionLink("Delete", "Delete/" + Model.TestimonialID, "Testimonial", null, new { @class = "btn btn-default" })
    }
    <br />
    <br />
    @Html.ActionLink("Back To List", "Index", "Testimonial", null, new { @class = "btn btn-default" })
</div>
