﻿@model NBRHC.Models.Testimonial

@{
    ViewBag.Title = "Edit";
}

<form method="POST" action="/Testimonial/Edit" enctype="multipart/form-data" class="form-container">
    <h2>Edit @Model.TestimonialTitle</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!--Hidden fields-->
    @Html.HiddenFor(model => model.TestimonialID)
    @Html.HiddenFor(model => model.TestimonialDate)
    @Html.HiddenFor(model => model.TestimonialPublishAgreement)
    @Html.HiddenFor(model => model.HasPic)
    @Html.HiddenFor(model => model.ImgFilename)

    <div class="form-group-container">
        @Html.LabelFor(model => model.TestimonialName)
        <div>
            <!--Editor for generates input element based on datatype-->
            @Html.EditorFor(model => model.TestimonialName)
            @Html.ValidationMessageFor(model => model.TestimonialName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group-container">
        @Html.LabelFor(model => model.TestimonialEmail)
        <div>
            @Html.EditorFor(model => model.TestimonialEmail)
            @Html.ValidationMessageFor(model => model.TestimonialEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group-container">
        @Html.LabelFor(model => model.TestimonialTitle)
        <div>
            @Html.EditorFor(model => model.TestimonialTitle)
            @Html.ValidationMessageFor(model => model.TestimonialTitle, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group-container">
        @Html.LabelFor(model => model.TestimonialStatement)
        <div>
            @Html.EditorFor(model => model.TestimonialStatement)
            @Html.ValidationMessageFor(model => model.TestimonialStatement, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group-container">
        @Html.LabelFor(model => model.TestimonialApprove)
        @Html.EditorFor(model => model.TestimonialApprove)
        <div>
            @Html.ValidationMessageFor(model => model.TestimonialApprove, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group-container">
        @Html.LabelFor(model => model.TestimonialPublish)
        @Html.EditorFor(model => model.TestimonialPublish)
        <div>
            @Html.ValidationMessageFor(model => model.TestimonialPublish, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group-container">
        <label for="testimonialImg">Picture</label>
        <!--If the testimonial has an image, displays the image-->

        @if (Model.HasPic == 1)
        {
        <div class="testimonial-img-container">
            <div class="img-container">
                <img src="~/images/testimonials/@(Model.ImgFilename)" alt="@Model.TestimonialName" />
            </div>
            <br />
        </div>
        }
        else
        {
            <span>None</span>
        }
        <br />
        <input type="file" name="testimonialImg" id="testimonialImg" />
        </div>
    <div class="form-group-container">
        <input type="submit" value="Save" class="btn btn-default" />
        @Html.ActionLink("Cancel", "Details/" + Model.TestimonialID, "Testimonial", null, new { @class = "btn btn-default" })
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index", "Testimonial", null, new { @class = "btn btn-default"})
    </div>
</form>

