﻿<!--Referenced Christines code-->
@model IEnumerable<NBRHC.Models.Testimonial>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_UnwrappedLayout.cshtml";
}

<div id="testimonial-banner" class="banner flex-container">
    <h2 class="banner-title wrapper">Patient Testimonials</h2>
</div>

<div id="testimonials">
    @if ((int)ViewData["userstate"] != 2)
    {
        <div class="button-container wrapper">
            @if ((int)ViewData["userstate"] == 1)
            {
                <!-- Users that do not have an admin account must create an admin account in order to see Edit/Details/Delete -->
                @Html.ActionLink("Create an Admin", "Create", "Admin")
            }
            else if ((int)ViewData["userstate"] == 0)
            {
                <!-- Website visitors can write a testimonial-->
                @Html.ActionLink("Write a Testimonial", "New", "Testimonial", null, new { @id="write-testimonial-btn", @class = "button" })
            }
        </div>
    }

        <div id="testimonial-list" class="flex-container wrapper">
            <div class="pagination">
                <!--Referenced Christines code, pagination-->
                <!--Pagination only shows if theres more than one page-->
                @if ((string)ViewData["PaginationSummary"] != "")
                {
                    @ViewData["PaginationSummary"]
                    @Html.Raw(" ");
                    @Html.ActionLink("Prev", "List", "Testimonial", new { pagenum = ((int)ViewData["pagenum"] - 1) })
                    @Html.Raw(" ");
                    @Html.ActionLink("Next", "List", "Testimonial", new { pagenum = ((int)ViewData["pagenum"] + 1) })
                }
            </div>

            <!--If viewer is user or admin user, they can see the list of all testimonials
             If viewer is an admin, they can select the edit, details, and delete options
            If view is a public website visitor, they can only see list of published testimonials-->

            <!--View for public website visitor-->
            @if ((int)ViewData["userstate"] == 0)
            {
                @foreach (var testimonial in Model)
                {
                    <div class="item flex-container">
                        <div class="testimonial-img-container">
                            @if (testimonial.HasPic == 1)
                            {
                                <img src="~/images/testimonials/@testimonial.ImgFilename" alt="@testimonial.TestimonialName" />

                            }
                        </div>
                        <div class="testimonial-text">
                            <h3 class="quote">"@testimonial.TestimonialTitle"</h3>
                            <div class="testimonial-author">- @testimonial.TestimonialName</div>
                            <div class="button-container">
                                @Html.ActionLink("Read More", "Details", new { id = testimonial.TestimonialID }, new { @class = "read-more" })
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <!--View for users and admin users (They can see published testimonials, approved testimonials, 
                    and testimonials under review-->

                <!--Published Testimonials table-->
                <h3>Published Testimonials</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.TestimonialTitle)</th>
                            <th>@Html.DisplayNameFor(model => model.TestimonialStatement)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var testimonial in Model)
                        {
                            if (testimonial.TestimonialPublish)
                            {
                                <tr>
                                    <td>@testimonial.TestimonialTitle</td>
                                    <td>@testimonial.TestimonialStatement</td>
                                    <!--If viewer is an admin user they can see the options edit, details, and delete-->
                                    <td>
                                        @if ((int)ViewData["userstate"] == 2)
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = testimonial.TestimonialID })
                                            @Html.Raw(" | ")
                                            @Html.ActionLink("Details", "Details", new { id = testimonial.TestimonialID })
                                            @Html.Raw(" | ")
                                            @Html.ActionLink("Delete", "Delete", new { id = testimonial.TestimonialID })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Details", "Details", new { id = testimonial.TestimonialID })
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table> <!--End of Published Testimonials table-->

                <!--Approved Testimonials table-->
                <h3 class="title">Approved Testimonials</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.TestimonialTitle)</th>
                            <th>@Html.DisplayNameFor(model => model.TestimonialStatement)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var testimonial in Model)
                        {
                            if (testimonial.TestimonialApprove && !testimonial.TestimonialPublish)
                            {
                                <tr>
                                    <td>@testimonial.TestimonialTitle</td>
                                    <td>@testimonial.TestimonialStatement</td>
                                    <!--If viewer is an admin user they can see the options edit, details, and delete-->
                                    <td>
                                        @if ((int)ViewData["userstate"] == 2)
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = testimonial.TestimonialID })
                                            @Html.Raw(" | ")
                                            @Html.ActionLink("Details", "Details", new { id = testimonial.TestimonialID })
                                            @Html.Raw(" | ")
                                            @Html.ActionLink("Delete", "Delete", new { id = testimonial.TestimonialID })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Details", "Details", new { id = testimonial.TestimonialID })
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table> <!--End of Approved Testimonials table-->

                <!--Testimonials to be Reviewed table-->
                <h3 class="title">Testimonials to be Reviewed</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.TestimonialTitle)</th>
                            <th>@Html.DisplayNameFor(model => model.TestimonialStatement)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var testimonial in Model)
                        {
                            if (!testimonial.TestimonialApprove && !testimonial.TestimonialPublish)
                            {
                                <tr>
                                    <td>@testimonial.TestimonialTitle</td>
                                    <td>@testimonial.TestimonialStatement</td>
                                    <!--If viewer is an admin user they can see the options edit, details, and delete-->
                                    <td>
                                        @if ((int)ViewData["userstate"] == 2)
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = testimonial.TestimonialID })
                                            @Html.Raw(" | ")
                                            @Html.ActionLink("Details", "Details", new { id = testimonial.TestimonialID })
                                            @Html.Raw(" | ")
                                            @Html.ActionLink("Delete", "Delete", new { id = testimonial.TestimonialID })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Details", "Details", new { id = testimonial.TestimonialID })
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table> <!--End of Testimonials to be Reviewed table-->
            }
        </div> <!--End of testimonial list-->
</div>