﻿@model NBRHC.Models.Testimonial

@{
    ViewBag.Title = "New";
}

<form method="POST" action="/Testimonial/New" enctype="multipart/form-data" class="form-container">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h2>Write a Testimonial</h2>
    <div>
        <div class="form-group-container">
            @Html.LabelFor(model => model.TestimonialName)
            <div>
                @Html.EditorFor(model => model.TestimonialName)
                @Html.ValidationMessageFor(model => model.TestimonialName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group-container">
            @Html.LabelFor(model => model.TestimonialEmail)
            <div>
                @Html.EditorFor(model => model.TestimonialEmail)
                @Html.ValidationMessageFor(model => model.TestimonialEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group-container">
            @Html.LabelFor(model => model.TestimonialTitle)
            <div>
                @Html.EditorFor(model => model.TestimonialTitle)
                @Html.ValidationMessageFor(model => model.TestimonialTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group-container">
            @Html.LabelFor(model => model.TestimonialStatement)
            <div>
                @Html.EditorFor(model => model.TestimonialStatement)
                @Html.ValidationMessageFor(model => model.TestimonialStatement, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group-container">
            <label for="testimonialImg">Picture</label>
            <input type="file" name="testimonialImg" id="testimonialImg" />
        </div>
        <br />
        <div class="form-group-container">
            @Html.LabelFor(model => model.TestimonialPublishAgreement)
            <div>
                @Html.EditorFor(model => model.TestimonialPublishAgreement)
                @Html.ValidationMessageFor(model => model.TestimonialPublishAgreement, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group-container">
            <input type="submit" value="Submit" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Index", "Testimonial", null, new { @class = "btn btn-default" })
        </div>
    </div>
</form>

