﻿@model System.Data.DataTable
@{
    ViewData["Title"] = "Index";
}

<h2>Event</h2>

<div style="border:2px solid black;">
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
    <div style="border:1px solid black; margin:50px; padding:10px; border-radius:10px 10px;">
        <center><h2>@Model.Rows[i][1]</h2></center>

        @{

            string imgPath = "";

            
            imgPath = "wwwroot/" + @Model.Rows[i][8].ToString();

            byte[] byteData = System.IO.File.ReadAllBytes(imgPath);
            string imreBase64Data = Convert.ToBase64String(byteData);
            string imgDataURL = string.Format("data:image/JPG;base64,{0}", imreBase64Data);

        }
        <center><img src="@imgDataURL" style="height:100px;width:100px;display: inline-block;" alt="Event Photo" border="0"></center>
    </div>
    }

    

</div>