﻿<!--Referenced Christines code-->
@model NBRHC.Models.Admin

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Admin</h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdminFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminLastName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Admin List", "Index")
        </div>
    }
</div>
