﻿<!--Referenced Christines code-->
@model NBRHC.Models.Admin

@{
    ViewBag.Title = "Details";
}

<div>
    
    <h2>@Model.AdminFirstName  @Model.AdminLastName</h2>
  
    <!--Admin can edit their own profile-->
    @if ((int)ViewData["UserAdminID"] == Model.AdminID)
    {
        @Html.ActionLink("Edit", "Edit/" + Model.AdminID, "Admin", null, new { @class = "btn btn-default" })
    }
    <div>
        <h3>Pages by @Model.AdminFirstName  @Model.AdminLastName</h3>
        @if (Model.Pages != null)
        {
            <ul class="list-group">
                @foreach (var page in Model.Pages)
                {
                    <li class="list-group-item">
                        @Html.ActionLink(page.PageTitle, "Details", "Page", new { id = page.PageID })
                    </li>
                }
            </ul>
        }
    </div>
    <div>
        <br />
        <br />
        @Html.ActionLink("Back to Admin List", "Index", "Admin", null, new { @class = "btn btn-default" })
    </div>
</div>

<!--Admin links-->
<h2>Admin Links</h2>
<div>
    @Html.ActionLink("View Pages", "List", "Page")
    <br />
    @Html.ActionLink("View Get Well Messages", "List", "GetWellMessage")
    <br />
    @Html.ActionLink("View Testimonials", "List", "Testimonial")
    <br />
    @Html.ActionLink("View FAQ", "Index", "FAQ")
    <br />
    @Html.ActionLink("View Doctors", "Index", "Doctor")
    <br />
    @Html.ActionLink("View SurveyQuestions", "List", "SurveyQuestion")
    <br />
    @Html.ActionLink("View Jobs", "Index", "Job")
    <br />
    @Html.ActionLink("View Gallery", "List", "Gallery")
    <br />
    @Html.ActionLink("View Contact Us", "List", "ContactUs")
</div>

