﻿<!--Referenced Christines code-->
@model NBRHC.Models.Admin

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
{
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Admin</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AdminID)
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.User)
    <div class="form-group">
        @Html.LabelFor(model => model.AdminFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AdminFirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AdminFirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AdminLastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AdminLastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AdminLastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Details/" + Model.AdminID, "Admin", null, new { @class = "btn btn-default" })
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to Admin List", "Index", "Admin", null, new { @class = "btn btn-default" })
    </div>
</div>
}
