﻿<!--Referenced Christines code-->
@model IEnumerable<NBRHC.Models.Admin>

@{
    ViewBag.Title = "Index";
}
<div>
    <h2>Admin</h2>
</div>
<div>
    @{
        int userAdminID = (int)ViewData["UserAdminID"];
        //UserState
        //0 => No user account
        //1 => Has user account but no admin account

        switch (ViewData["UserState"])
        {
            case 1: @Html.ActionLink("Create an Admin", "Create") break;
            case 2: @Html.ActionLink("Your Profile", "Details/" + userAdminID, "Admin") break;
        }
    }
</div>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminLastName)
        </th>
    </tr>

    @foreach (var admin in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => admin.AdminFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => admin.AdminLastName)
            </td>

            <td>
                <!--if the user is the admin of this admin account-->
                @if (admin.AdminID == userAdminID)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = admin.AdminID })
                    @Html.Raw(" | ")
                }
                @Html.ActionLink("Details", "Details", new { id = admin.AdminID })
                @if (admin.AdminID == userAdminID)
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = admin.AdminID })
                }
            </td>
        </tr>
    }

</table>
