﻿@model NBRHC.Models.ViewModels.SurveyAnswerEdit
@{
    ViewData["Title"] = "New";
}

<h2>Please Survey</h2>

<form method="POST" action="/SurveyAnswer/New">

    <div class="inptrow">
        
        <label id="Question_New" name="Question_New">
            @foreach (var question in Model.SurveyQuestions)
            {
                @question.Question <br />
                <div>
                    <input name="question_id[]" type="hidden" value="@question.QuestionID" />
                    <input name='@question.QuestionID' type="radio" value="poor">poor
                    <input name='@question.QuestionID' type="radio" value="satisfied">satisfied
                    <input name='@question.QuestionID' type="radio" value="exellent">excellent
                </div>
            }
        </label>
    </div>
    

    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>


</form>
