﻿@media screen and (max-width:500px) {
    .donation p {
        display:none;
    }
}

@media screen and (max-width:350px)
{
    .new-donation {
        font-size:16pt;

    }
    .crud-nav a {
        font-size:16pt;
    }
}

@media screen and (max-width:420px) {
    .donation__date {
        display:block;
    }
}