﻿body {
}
.food_header 
{
    background-image: url('../images/food/healthyfood-header.jpg');
    height:300px;
    width:100%;
    background-size:cover;
  
}
.text-center{
    color:white;
    font-weight:bold;
    background-color:black;
    font-size:40px
}