﻿html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    padding-top: 50px;
}


*, *::before, *::after {
    box-sizing: inherit;
}

input:not([type=submit]), select, textarea {
    max-width: 280px;
    border: 1px solid darkgray;
    margin-bottom: 15px;
}

input[type="text"], input[type="date"], textarea {
    display: block;
}

input, textarea {
    padding: 5px;
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.hidden {
    position: absolute;
    left: -10000px;
}

.form-group-container {
    margin-bottom: 15px;
}

.form-container {
    border: 1px solid lightgrey;
    padding: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background: #f9f9f9;
    /*Used https://mycolor.space/ to generate gradient*/
    background-image: linear-gradient(to bottom, #ffffff, #fcfcfc, #f9f9f9, #f7f7f7, #f4f4f4);
}

    .form-container h2 {
        width: 100%;
        border-bottom: 1px solid darkgray;
        padding-bottom: 10px;
        margin-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
    }

.button-container{
    width: 100%;
}

.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 200px;
}

.banner-title {
    font-size: 2rem;
    font-weight: bold;
    width: 100%; 
    margin-left: 85px;
    align-self: center;
    line-height: 1; 
}

.item {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #bababa;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.item.message, .item.page, .item.admin{
    padding: 50px;
}

.button {
    border: 1px solid #3280CA;
    padding: 7px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    transition: all 0.5s;
}

a.button {
    color: #3280CA;
    font-weight: bold;
}

    a.button:hover {
        text-decoration: none;
    }

.pagination{
    width: 100%;
}

.title {
    margin-top: 50px;
}

.quote {
    width: 100%;
    font-style: italic;
    font-size: 1.5rem;
}

.read-more {
    padding: 20px 0;
    display: block;
}

.bold {
    font-weight: bold;
}

#testimonials, #get-well-messages {
    padding: 50px 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 100px 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
