﻿#testimonial-banner {
    background-image: url("../images/testimonials/banner.jpg");
    color: #373737;
}

#testimonial-list h3{
    font-size: 1.2rem;
    font-weight: bold;
}

.testimonial-img-container, .testimonial-img-container img {
    height: 150px;
}

.testimonial-img-container img {
    border-radius: 50%;
    width: 150px;
    margin-right: 25px;
    object-fit: cover;
}

.testimonial-text{
    flex: 1;
}



