﻿@model NBRHC.Models.EventAdminModel

@{
    ViewData["Title"] = "Create";
}

<h2>Add Event</h2>


<hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" required/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" required/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="stime" class="control-label"></label>
                    <input asp-for="stime" class="form-control" required/>
                    <span asp-validation-for="stime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="etime" class="control-label"></label>
                    <input asp-for="etime" class="form-control" required/>
                    <span asp-validation-for="etime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sdate" class="control-label"></label>
                    <input asp-for="sdate" type="date" class="form-control" required/>
                    <span asp-validation-for="sdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="edate" class="control-label"></label>
                    <input asp-for="edate" type="date" class="form-control" required/>
                    <span asp-validation-for="edate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" required/>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FileToUpload" class="control-label"></label>
                    <input asp-for="FileToUpload" type="file" class="form-control" required/>
                    <span asp-validation-for="FileToUpload" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>

        </div>

    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
