﻿@model NBRHC.Models.EventAdminModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EventAdminModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stime" class="control-label"></label>
                <input asp-for="stime" class="form-control" required/>
                <span asp-validation-for="stime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="etime" class="control-label"></label>
                <input asp-for="etime" class="form-control" required/>
                <span asp-validation-for="etime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sdate" class="control-label"></label>
                <input asp-for="sdate" type="date" class="form-control" required/>
                <span asp-validation-for="sdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edate" class="control-label"></label>
                <input asp-for="edate" type="date" class="form-control" required/>
                <span asp-validation-for="edate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" required/>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileToUpload" class="control-label"></label>
                <input asp-for="FileToUpload" type="file" class="form-control" required/>
                <span asp-validation-for="FileToUpload" class="text-danger"></span>
                @{
                    string imgPath = "";
                    imgPath = "wwwroot/" + Model.Image;

                    byte[] byteData = System.IO.File.ReadAllBytes(imgPath);
                    string imreBase64Data = Convert.ToBase64String(byteData);
                    string imgDataURL = string.Format("data:image/JPG;base64,{0}", imreBase64Data);

                }
                <center><img src="@imgDataURL" style="height:100px;width:100px;display: inline-block;" alt="Event Photo" border="0"></center>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

