﻿@model System.Data.DataTable
@{
    ViewData["Title"] = "UpdateEvent";
}

<center><h2>Update Event</h2></center>
<table border="1" align="center" class="table table-bordered">
    <tr>
        <th>Events</th>
        <th>Action</th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
        
            <td>@Model.Rows[i][1]</td>
            <td>
                <a href="@Url.Action("Edit" , "EventAdmin" ,new {@id=Model.Rows[i][0] })">Edit</a>
                <a href="@Url.Action("Delete" , "EventAdmin" ,new {@id=Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }

</table>
