﻿@model System.Data.DataTable
@{
    ViewData["Title"] = "Index";
}


<div style="border:2px solid black;margin:50px; padding:10px; border-radius:10px 10px;">
    
    <center><h2>Food Service</h2></center>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <div style="border:1px solid black; margin:50px; padding:10px; text-align:center; border-radius:20;">
            <h4>@Model.Rows[i][1]</h4>
        </div>
        <div style="border:1px solid black; margin:50px; padding:10px; text-align:center; border-radius:20; height:100px;">
            <h4>@Model.Rows[i][2]</h4>
        </div>
    }
</div>
