﻿@model NBRHC.Models.FAQ

@{
    ViewData["Title"] = "Create FAQ";
}

<div class="container">
    <h1>Create FAQ</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FAQQuestion, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.FAQQuestion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FAQQuestion, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FAQAnswer, htmlAttributes: new { @class = "" })
                @Html.TextAreaFor(model => model.FAQAnswer, new { cols = 40, @rows = 5 })
                @Html.ValidationMessageFor(model => model.FAQAnswer, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
