﻿@model NBRHC.Models.FAQ

@{
    ViewData["Title"] = "FAQ Details";
}

@if (TempData["EditSuccess"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <strong>FAQ succeessfully edited</strong>
    </div>
}
else if (TempData["EditFail"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Failed to edit FAQ</strong>
        <div>All fields must be filled out</div>
    </div>
}

<div>
    @*If the user is not an admin give them a link to go become an admin*@
    @if ((int)ViewData["UserState"] == 0)
    {
    <div id="accordion" class="panel-group">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@Model.FAQID">@Model.FAQQuestion</a>
                </h4>
            </div>
            <div id="@Model.FAQID" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>@Model.FAQAnswer</p>
                </div>
            </div>
        </div>
    </div>
    }
    @*If the user does not have an account get them a link to go register an account*@
    else if ((int)ViewData["UserState"] == 1)
    {
    <div id="accordion" class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@Model.FAQID">@Model.FAQQuestion</a>
                </h4>
            </div>
            <div id="@Model.FAQID" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>@Model.FAQAnswer</p>
                </div>
            </div>
        </div>
    </div>
    }
    else
    {
    <div id="accordion" class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@Model.FAQID">@Model.FAQQuestion</a>
                </h4>
            </div>
            <div id="@Model.FAQID" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>@Model.FAQAnswer</p>
                </div>
            </div>
        </div>
    </div>
        <form method="get" action="/FAQ/Edit/@Model.FAQID">
            <button type="submit" class="btn btn-primary" id="editButton">Edit FAQ</button>
        </form>

    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
