﻿@model NBRHC.Models.FAQ

@{
    ViewBag.Title = "Edit FAQ";
}

<div class="container">
    <h1>Edit FAQ</h1>
    @using (Html.BeginForm("Edit", "FAQ", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.FAQID)
            @Html.HiddenFor(model => model.AdminID)
            <div class="form-group">
                @Html.LabelFor(model => model.FAQQuestion, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.FAQQuestion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FAQQuestion, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FAQAnswer, htmlAttributes: new { @class = "" })
                @Html.TextAreaFor(model => model.FAQAnswer, new { cols = 40, @rows = 5 })
                @Html.ValidationMessageFor(model => model.FAQAnswer, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
