﻿@model IEnumerable<NBRHC.Models.FAQ>

@{
    ViewData["Title"] = "FAQ List";
}

@if (TempData["AddSuccess"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <strong>FAQ successfully added</strong>
    </div>
}
else if (TempData["AddFail"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Failed to add FAQ</strong>
        <div>All fields must be filled out</div>
    </div>
}
else if (TempData["EditSuccess"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <strong>FAQ succeessfully edited</strong>
    </div>
}
else if (TempData["EditFail"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Failed to edit FAQ</strong>
        <div>All fields must be filled out</div>
    </div>
}
else if (TempData["DeleteSuccess"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <strong>FAQ succeessfully deleted</strong>
    </div>
}

<div class="container">
    <h2>FAQ List</h2>
    <hr />
    @{
        int id = 0;
    }
    @*If the user is not an admin give them a link to go become an admin*@
    @if ((int)ViewData["UserState"] == 1)
    {
        @Html.ActionLink("Become an Admin", "Register", "Admin")
    }
    @*If the user does not have an account get them a link to go register an account*@
    else if ((int)ViewData["UserState"] == 0)
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }
    @*If they are an admin give them a button to add a FAQ*@
    else
    {
        <form method="get" action="/FAQ/Create">
            <button type="submit" class="btn btn-primary">Add FAQ</button>
        </form>
        id = (int)ViewData["UserAdminID"];
    }
    @*Accordian*@
    <div id="accordion" class="panel-group">
        @foreach(var item in Model)
        { 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@Html.DisplayFor(modelItem => item.FAQID)">@Html.DisplayFor(modelItem => item.FAQQuestion)</a>
                </h4>
            </div>
            <div id="@Html.DisplayFor(modelItem => item.FAQID)" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>@Html.DisplayFor(modelItem => item.FAQAnswer)</p>
                </div>
            </div>
        </div>
        }
    </div>
    <div id="paginationSummary">
        @ViewData["PaginationSummary"]
    </div>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">@Html.ActionLink("Prev", "Index", "FAQ", new { pagenum = ((int)ViewData["pagenum"] - 1) })</li>
                <li class="page-item">@Html.ActionLink("Next", "Index", "FAQ", new { pagenum = ((int)ViewData["pagenum"] + 1) })</li>
            </ul>
        </nav>
    </div>
    @*Only admins will be able to see the controls*@
    @if((int)ViewData["UserState"] == 3 || (int)ViewData["UserState"] == 2)
    {
    @*Pagination*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FAQQuestion)
                </th>
                <th>
                    @if ((int)ViewData["UserState"] == 0)
                    {

                    }
                    else if ((int)ViewData["UserState"] == 1)
                    {

                    }
                    else
                    {
                        @Html.DisplayNameFor(model => model.Admin)
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FAQQuestion)
                    </td>
                    <td>
                        
                    @if ((int)ViewData["UserState"] == 0)
                    {

                    }
                    else if ((int)ViewData["UserState"] == 1)
                    {

                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Admin.AdminFirstName)
                        <text>&nbsp;</text>
                        @Html.DisplayFor(modelItem => item.Admin.AdminLastName)
                    }
                    </td>
                    <td>
                        @*If you are an admin you can edit or delete a FAQ*@
                        @if (item.AdminID == id)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.FAQID })
                            @Html.Raw(" | ")
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.FAQID })
                        @if (item.AdminID == id)
                        {
                            @Html.Raw(" | ")
                            @Html.ActionLink("Delete", "Delete", new { id = item.FAQID }, new { onclick = "return confirm('Are you sure you wish to delete this image?');" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>